diagnosis_classifier_device: cpu
signal_processing_device: cpu
batch_size: 4
output_folder: /app/outputs
hugging_face_api_key_path: /app/api_key.json
use_efficientnet: False
use_wcr: True
data_path: /app/inputs
mode: full_run
ecg_signals_path: /app/ecg_signals
preprocessing_folder: /app/preprocessing
preprocessing_n_workers: 16
